<%- include('partials/header') %>

  <div class="starter-template">
    <h1>Entrar</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a
      mostly barebones HTML document.</p>
      
      <form class="form-signin" method="POST" >
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Por favor, identifique-se</h1>
        <label for="inputUsername" class="sr-only">Usuário</label>
        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Usuário" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        <a class="btn btn-lg btn-primary btn-block"  href="/facebook" type="submit">Entrar com Facebook</a>
        <a class="btn btn-lg btn-primary btn-block"  href="/google" type="submit">Entrar com Google</a>
        <p class="mt-5 mb-3 text-muted"> CSS Dev </p>
      </form>
  </div>

  <%- include('partials/footer') %>